@import "tailwindcss";

* {
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE/Edge */
}


body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(50, 10px);
  grid-gap: 1px;
  margin: 1px auto;
  justify-content: center;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
}

.cell.alive {
  background-color: black;
}

.btn-enable {

}